@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Varela+Round");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e8e7e5;
  background-attachment: fixed;
  background-size: cover;
}

body.dark {
  background-color: #54627a;
}

.App-logo {
  animation: App-logo-spin infinite 150s linear;
  height: 500px;
}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.75;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  z-index: 2;
  background-color: #b7c0c9;
  font-family: "Open Sans", sans-serif;
}

.btn {
  transition: 0.3s all ease-out;
}
.form {
  background-color: #b7c0c9;
  font-family: "Varela Round", sans-serif;
  transition: 0.5s all ease-out;
  box-shadow: 5px 5px 5px #444;
}

.form.hide {
  transform: translate3d(0, -100%, 0);
}

.showInput {
  border-radius: 50%;
  background-color: #556677;
}

.theme {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
}

.theme > span {
  z-index: 4;
  color: black;
  width: 20px;
  height: 20px;
}

.form {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submit,
.set {
  color: white;
  background-color: #9391ae;
}

.submit:hover,
.set:hover {
  background-color: #708292;
  color: white;
}

.reset {
  background-color: #54556f;
}

.reset:hover {
  background-color: #696969;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.blank {
  content: "";
  height: 200px;
}

.counterList,
.toggleView,
.timer,
.filter {
  margin: 10px auto 30px auto;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 10px 0 20px 0;
  border-radius: 10px;
  width: 95%;
  text-align: center;
  box-shadow: 2px 2px 2px #ccc;
  font-size: 1.2rem;
  font-weight: bold;
}

.timer > span {
  margin: 5px;
  border-radius: 10px;
}

.filter {
  padding: 20px;
}

.counterList > p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}

.counterList > span {
  background-color: #c4e6d5;
  font-size: 1rem;
}

.sidenav {
  flex: 2;
  background-color: rgba(150, 150, 175, 0.9);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #62627c;
  margin: 1rem 2rem 2rem 2rem;
  height: 1050px;
  width: 400px;
  min-width: 400px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s ease-out;
}

.sidenav.remove {
  transform: translate3d(-110%, 0, 0);
}

.sidenav:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
}

.sideBtn {
  transition: all 0.5s linear;
}

.toggleView > p {
  font-size: 1.2rem;
  font-weight: bold;
}

.toggleView > span {
  font-size: 2.5rem;
  margin: 0px 10px 0px 10px;
  color: rgb(183, 255, 225);
  cursor: pointer;
  transition: 0.2s linear all;
}

.toggleView > span:hover {
  transform: scale(1.2);
}

.list {
  margin-top: 1rem;
  flex: 10;
}

.listgrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.listitem {
  margin: 2px 20px 5px 0px;
  font-family: "Varela Round", sans-serif;
}

.listitemgrid {
  width: 350px;
  height: 350px;
  position: relative;
}

.listitemgrid > .fa-home,
.listitemgrid > .fa-users,
.listitemgrid > .fa-briefcase,
.listitemgrid > .fa-archive {
  position: absolute;
  top: 15px;
  left: 15px;
}

.listitemgrid > .fa-trash {
  position: absolute;
  top: 15px;
  right: -30px;
}

.listitemgrid > .fa-exclamation-circle {
  position: absolute;
  top: 15px;
  left: 60px;
}

.listitemgrid > label {
  width: 300px;
}

.listitemgrid > .align-middle {
  position: absolute;
  top: 60px;
  left: 21px;
}

.listitem:hover {
  transform: scale(1.01);
  transition: all 0.3s linear;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  transform: translate(3.5rem, 0.5rem);
}

.flex {
  display: flex;
}

.header .selector {
  width: 15%;
  height: 50px;
}

.sidenav .selector {
  width: 70%;
}

.note {
  margin: 10px;
}

@media screen and (max-width: 767px) {
  .flex {
    margin: auto;
    flex-direction: column;
  }

  .sidenav {
    margin: 0 0 2rem 0rem;
  }

  .listgrid {
    margin: 0 0 2rem 2rem;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .cover {
    position: fixed;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .flex {
    margin: auto;
    flex-direction: column;
  }

  .sidenav {
    margin: 0 auto 2rem auto;
  }

  .listgrid {
    margin: 0 auto 2rem auto;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .cover {
    position: fixed;
  }
}
