@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Varela+Round");

/* general */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d8d7d5;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  transition: 0.3s all ease-out;
}

/* used to toggle theme to add grey background  */
.dark {
  background-color: #74828a;
}

.cover {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.75;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* hidden field to push sidenav and listitems down */
.blank {
  content: "";
  height: 150px;
}

/* The whole navbar */
.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
}
.header .selector {
  width: 15%;
  min-width: 130px;
  height: 40px;
}

.navbar {
  background-color: #879099;
}

/* Nested inside Navbar */
.navbar > .container-fluid {
  display: inline-block;
  text-align: center;
}

.navbar-header {
  display: flex;
}

.navItem {
  flex: 0 0 auto;
  margin: 0;
  padding: 30px 10px 10px 10px;
}

/* Button to hide side Nav */
.sideBtn {
  transition: all 0.5s linear;
  padding: 5px;
}

/* TO-DO-List Wording */
.title {
  font-weight: bold;
  font-size: 1.5rem;
}

/* +/- button for toggling user input */
.showInput {
  border-radius: 50%;
  background-color: #556677;
}

/* reset button  */
.reset {
  background-color: #54556f;
}

.reset:hover {
  background-color: #696969;
}

/* React logo */
.App-logo {
  animation: App-logo-spin infinite 7s linear;
  height: 90px;
  padding: 0;
}

/* user input */
.form {
  background-color: #879099;
  font-family: "Varela Round", sans-serif;
  transition: 0.5s all ease-out;
  box-shadow: 0px 4px 5px #444;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* User input text field */
input.form-control {
  min-width: 150px;
  padding: 10px;
  height: 40px;
}

/* class used to hide user input field */
.hide {
  transform: translate3d(0, -50px, 0);
}

/* submit button found in user input */
.submit,
.set {
  min-width: 150px;
  color: white;
  background-color: #9391ae;
}

/* submit button on hover */
.submit:hover,
.set:hover {
  background-color: #708292;
  color: white;
}

/* Wrapper for SIDENAV & LISTITEM */
.App > .flex {
  display: flex;
  padding: 0 20px 0 20px;
}

/* SIDENAV */
.sidenav {
  flex: 2;
  background-color: rgba(150, 150, 175, 0.9);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #62627c;
  margin: 1rem 0.3rem 2rem 0;
  height: 1050px;
  min-width: 280px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s ease-out;
}

/* Components of Sidenav */
.counterList,
.toggleView,
.timer,
.filter {
  margin: 10px auto 30px auto;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 10px 0 20px 0;
  border-radius: 10px;
  width: 95%;
  text-align: center;
  box-shadow: 2px 2px 2px #ccc;
  font-size: 1.2rem;
  font-weight: bold;
}

.timer input,
.timer textarea {
  margin: 5px;
  border-radius: 5px;
}

.filter .form-control {
  width: 80%;
  margin: 0 auto;
}

.counterList > p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}

.counterList > span {
  background-color: #c4e6d5;
  font-size: 1rem;
}

.remove {
  transform: translate3d(-370px, 0, 0);
}

.sidenav.display {
  display: none;
}

.sidenav:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
}

.toggleView > p {
  font-size: 1.2rem;
  font-weight: bold;
}

.toggleView > span {
  font-size: 2.5rem;
  margin: 0px 10px 0px 10px;
  color: rgb(183, 255, 225);
  cursor: pointer;
  transition: 0.2s linear all;
}

.toggleView > span:hover {
  transform: scale(1.2);
}

/* for Textarea */
.note {
  margin: 10px;
}

.sidenav .selector {
  width: 70%;
}

/* ListItems */
.flex {
  display: flex;
}

.list {
  transition: all 0.5s ease-out;
  margin-top: 1rem;
  flex: 10;
}

.list > .flex {
  display: flex;
}

.list > .flex > div {
  flex: 0 1 auto;
  text-align: center;
  width: 40px;
}

.list > .flex > .flex-grow {
  flex-grow: 1;
}

.listitem {
  margin: 2px 0 5px 20px;
  font-family: "Varela Round", sans-serif;
  transition: 0.5s all ease-out;
  padding: 15px;
  align-items: center;
}

.listitem > .flex {
  flex-direction: column;
}

.flexicons {
  align-items: center;
}

.flexicons > * {
  flex: 0 0 40px;
  text-align: center;
  font-size: 1.7rem;
}

.listitem:hover {
  transform: scale(1.01);
  transition: all 0.3s linear;
}

/* Individual styling */
.categoryIconStyle {
  color: #555;
}

.binIconStyle {
  color: #555;
  cursor: pointer;
  font-size: 2rem;
}

.textAreaStyle {
  font-size: 0.9rem;
}

.completed {
  text-decoration: line-through;
}

.textAreaWrapper {
  flex-grow: 1;
  text-align: left;
  width: 100%;
}

.filler {
  flex: 1;
}

/* grid view */

.flexGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.listitemgrid {
  width: 250px;
  height: 250px;
  min-height: 250px;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}

.listitemgridfiller {
  background-color: black;
  flex: 1 0 250px;
  height: 0;
  border: none;
  margin: 2px 0 5px 20px;
}

@media screen and (max-width: 596px) {
  .App > .flex {
    padding: 0;
    display: block;
  }
  /* remove react logo */
  .App-logo {
    display: none;
  }

  .list {
    padding: 10px;
  }

  .listitem {
    margin: 2px 5px 5px 5px;
  }

  .sidenav {
    margin: 0 auto;
    margin-top: 20px;
    width: 280px;
  }

  /* Alter navbar to 3 rows */
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) {
}
